<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<table>
			<tr>
			<td>Code:</td>
			<td><input type="text" ng-model="project.code"></td>
			</tr>
			<tr>
			<td>Name:</td>
			<td><input type="text" ng-model="project.name"></td>
			</tr>
			<tr>
			<td>Description:</td>
			<td><input type="text" ng-model="project.description"></td>
			 </tr>
			 <tr>
			<td>Date Start:</td>
			<td><input type="text" ng-model="pagination.projectList.searchQuery"></td>
			 </tr>
			 <tr>
			<td>Date End:</td>
			<td><input type="text" ng-model="pagination.projectList.searchQuery"></td>
			 </tr>
			 <tr>
			<td>Target Hours:</td>
			<td><input type="text" ng-model="pagination.projectList.searchQuery"></td>
			 </tr>
			 <tr>
			<td>Vertical:</td>
			<td><input type="text" ng-model="pagination.projectList.searchQuery"></td>
			</tr>
		</table>
	</div>
</body>
</html>