<div class="" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading panel-height">
                    <ul class="list-inline">
                        <li class="icon-atms-icons_current-activity c-d-s"></li>
                        <li><strong>My Current Activities</strong></li>
                    </ul>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <div class="col-lg-10 col-md-9">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Work Item</th>
                                <th>Start Date / Time</th>
                                <th>Task Performed</th>
                                <th>Task in Progress</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="currentActivity">
                                <td ng-show="currentActivity.task.code == 'BREAK'">
                                    <div>{{currentActivity.task.name}}</div>
                                    <div>
                                        Currently tasked in:
                                        <div>{{lastProjects.LastProjects[1].assignedMilestone.milestone.project.name}}</div>
                                        <div>{{lastProjects.LastProjects[1].assignedMilestone.milestone.title}}</div>
                                    </div>
                                </td>
                                <td ng-hide="currentActivity.task.code == 'BREAK'">
                                    <div>{{currentActivity.assignedMilestone.milestone.project.name}}</div>
                                    <span>{{currentActivity.assignedMilestone.milestone.title}}</span>
                                </td>
                                <td>{{currentActivity.dateTimeStart | amDateFormat:
                                    'YYYY-MM-DD HH:mm:ss'}}
                                </td>
                                <td>{{currentActivity.task.name}}</td>
                                <td>{{currentActivity.taskInProgress}}</td>
                            </tr>
                            <tr ng-hide="currentActivity">
                                <td colspan="5">Nothing</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-2 col-md-3" ng-show="currentActivity">
                        <div class="row pull-right">
                            <button type="button" milestone-task="out"
                                    milestone-activity="{{currentActivity.id}}"
                                    class="btn btn-danger btn-sqr"><i
                                    class="fa fa-stop"></i>
                            </button>
                            <button type="button" ng-hide="currentActivity.task.code == 'BREAK'" milestone-task="pause"
                                    milestone-activity="{{currentActivity.id}}"
                                    class="btn btn-primary btn-sqr"><i
                                    class="fa fa-pause"></i>
                            </button>
                            <button type="button" ng-show="currentActivity.task.code == 'BREAK'" milestone-task="in"
                                    assigned-milestone="{{lastProjects.LastProjects[1].assignedMilestone.id}}"
                                    task="{{lastProjects.LastProjects[1].task.id}}" class="btn btn-primary btn-sqr"><i
                                    class="fa fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading panel-height">
                    <ul class="list-inline">
                        <li class="icon-atms-icons_start-activity c-d-s"></li>
                        <li><strong>Start an activity with my assigned Milestones</strong></li>
                    </ul>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <div class="col-md-12">
                        <div class="row">
                            <form class="navbar-form navbar-left" role="search"
                                  ng-submit="getAssignedMilestones(pagination.assignedMilestones.searchQuery, pagination.assignedMilestones.pageNumber = 1)">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search"
                                           ng-model="pagination.assignedMilestones.searchQuery">
                                </div>
                                <button type="Search" type="submit" class="btn btn-light-green">Search</button>
                                <button type="Reset" class="btn btn-default"
                                        ng-click="getAssignedMilestones(pagination.assignedMilestones.searchQuery = '', pagination.assignedMilestones.pageNumber = 1)">
                                    Reset
                                </button>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Milestone</th>
                                <th>Due Date</th>
                                <th>Target (Hr)</th>
                                <th>Duration (Hr)</th>
                                <th>Task to Perform</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="assignedMilestone in assignedMilestones.AssignedMilestones"
                                ng-if="assignedMilestone" ng-init="assignedMilestoneIndex = $index">
                                <td>{{assignedMilestone.milestone.project.name}}</td>
                                <td>{{assignedMilestone.milestone.title}}</td>
                                <td>{{assignedMilestone.dueDate | amDateFormat: 'YYYY-MM-DD'}}</td>
                                <td>{{assignedMilestone.milestone.targetHours | number:2}}</td>
                                <td>{{assignedMilestone.duration | number:2}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle btn-taskin" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="true"> {{taskToPerform[assignedMilestoneIndex] ?
                                            taskToPerform[assignedMilestoneIndex].name : 'Choose a task ...'}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a ng-click="taskToPerform[assignedMilestoneIndex] = null">Choose a task
                                                    ...</a>
                                            </li>
                                            <li ng-repeat="task in tasks">
                                                <a ng-click="taskToPerform[assignedMilestoneIndex] = task">{{task.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="row pull-right">
                                        <button type="button" class="btn btn-dark-green" ng-hide="true">
                                            Projectize</i></button>
                                        <button type="button" class="btn btn-primary" milestone-task="in"
                                                assigned-milestone="{{assignedMilestone.id}}"
                                                task="{{taskToPerform[assignedMilestoneIndex].id}}">Task In
                                        </button>
                                        <button type="button" class="btn btn-light-green" ng-hide="true">
                                            Done</i></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination ng-model="pagination.assignedMilestones.pageNumber" items-per-page="5"
                                    max-size="pagination.maxSize" total-items="pagination.assignedMilestones.totalItems"
                                    ng-change="getAssignedMilestones(pagination.assignedMilestones.searchQuery, pagination.assignedMilestones.pageNumber)"
                                    page-size="assignedMilestones ? assignedMilestones.length - 1 : 0">
                        </pagination>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading panel-height">
                        <ul class="list-inline">
                            <li class="icon-atms-icons_last-project c-d-s"></li>
                            <li><strong>My Last Project Related Activities</strong></li>
                        </ul>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Milestone</th>
                                    <th>Start Date / Time</th>
                                    <th>End Date / Time</th>
                                    <th>Task to Perform</th>
                                    <th>Duration (Hr)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lastProject in lastProjects.LastProjects"
                                    ng-if="lastProject">
                                    <td>{{lastProject.task.code == 'BREAK' ? '' :
                                        lastProject.assignedMilestone.milestone.project.name}}
                                    </td>
                                    <td>
                                        {{lastProject.task.code == 'BREAK' ? lastProject.task.name :
                                        lastProject.assignedMilestone.milestone.title}}
                                    </td>
                                    <td>
                                        {{lastProject.dateTimeStart | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
                                    </td>
                                    <td ng-if="lastProject.dateTimeEnd">
                                        {{lastProject.dateTimeEnd | amDateFormat:
                                        'YYYY-MM-DD HH:mm:ss'}}
                                    </td>
                                    <td ng-if="!lastProject.dateTimeEnd">In Progress</td>
                                    <td>{{lastProject.task.name}}</td>
                                    <td ng-hide="currentActivity.id == lastProject.id">
                                        {{lastProject.totalTime | number:2}}
                                    </td>
                                    <td ng-show="currentActivity.id == lastProject.id">
                                        --
                                    </td>
                                    <td>
                                        <div class="row pull-right">
                                            <div class="btn-container">
                                                <button type="button" class="btn btn-light-green"
                                                        ng-show="currentActivity.id == lastProject.id && lastProject.task.code != 'BREAK'"
                                                        milestone-task="out"
                                                        milestone-activity="{{lastProject.id}}">
                                                    Task Out
                                                </button>
                                                <button type="button" class="btn btn-primary"
                                                        ng-hide="currentActivity.id == lastProject.id || lastProject.task.code == 'BREAK'"
                                                        milestone-task="in"
                                                        assigned-milestone="{{lastProject.assignedMilestone.id}}"
                                                        task="{{lastProject.task.id}}">Task In
                                                </button>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination ng-model="pagination.lastProjects.pageNumber" items-per-page="10"
                                        max-size="pagination.maxSize" total-items="pagination.lastProjects.totalItems"
                                        ng-change="reloadLastProjects(pagination.lastProjects.pageNumber)"
                                        page-size="lastProjects ? lastProjects.length - 1 : 0"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>