@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?c8peoh');
    src:    url('../fonts/icomoon.eot?c8peoh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?c8peoh') format('truetype'),
        url('../fonts/icomoon.woff?c8peoh') format('woff'),
        url('../fonts/icomoon.svg?c8peoh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
