[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-atms-icons_active:before {
    content: "\e900";
}
.icon-atms-icons_clients:before {
    content: "\e901";
}
.icon-atms-icons_complete:before {
    content: "\e902";
}
.icon-atms-icons_current-activity:before {
    content: "\e903";
}
.icon-atms-icons_delete:before {
    content: "\e904";
}
.icon-atms-icons_group-based:before {
    content: "\e905";
}
.icon-atms-icons_groups:before {
    content: "\e906";
}
.icon-atms-icons_home:before {
    content: "\e907";
}
.icon-atms-icons_hrdb-employees:before {
    content: "\e908";
}
.icon-atms-icons_inactive:before {
    content: "\e909";
}
.icon-atms-icons_last-project:before {
    content: "\e90a";
}
.icon-atms-icons_log-out:before {
    content: "\e90b";
}
.icon-atms-icons_menu-toggle:before {
    content: "\e90c";
}
.icon-atms-icons_notifications:before {
    content: "\e90d";
}
.icon-atms-icons_project-based:before {
    content: "\e90e";
}
.icon-atms-icons_projects:before {
    content: "\e90f";
}
.icon-atms-icons_registered-users:before {
    content: "\e910";
}
.icon-atms-icons_reports:before {
    content: "\e911";
}
.icon-atms-icons_settings:before {
    content: "\e912";
}
.icon-atms-icons_start-activity:before {
    content: "\e913";
}
.icon-atms-icons_tasks:before {
    content: "\e914";
}
.icon-atms-icons_task-sets:before {
    content: "\e915";
}
.icon-atms-icons_vertical-based:before {
    content: "\e916";
}

