body.admin .container.body .left_col {
    width: 150px;
    padding:0;
    position: fixed;
    height: 100%;
    z-index: 200;
    background-color: #007c91;
    transition: all .2s ease;   
}



body.admin .navbar.nav_title {
    width: 150px;
    transition: all .2s ease;
}

body.admin .navbar.nav_title a span {
    display: none;
}

body.admin .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px;
}

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
}

.nav_title {
    width: 230px;
    float: left;
    background: #ffffff;
    border-radius: 0;
    height: 97px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;  
  vertical-align: middle;
}


.collapse-nav a{
    visibility: hidden;
}
.toggled {
    .left_col {
        position:fixed;
        width: 40px!important;
        z-index: 1;        
    }

    &.left_col {
        .nav_title {
            background:red!important;
        }
    }

    &.nav.side-menu li a {
        .top_nav {
            margin-left: 0px!important;
            z-index:99;
        }
    }
    
    .top_nav {
        margin-left: 40px !important;

    }
    
    .navbar {
        &.nav_title {
            width: 40px !important;
            transition: all .2s ease;  
        }
    }
    .site_title img {
            margin-left:-99999px;
    }

    .side-menu li a {
        font-size: 13px;
        padding: 20px 5px!important;
        overflow: hidden;
        height: 50px;
        transition: all .2s ease; 


    }
    & .nav.side-menu li a i {
        font-size: 13px!important;
        transition: all .2s ease; 
    }

    & ul.nav.child_menu {
        left: 100%;
        position: absolute;
        top: 0;
        padding: 0px;
        width: 155px;
        background: #00687D;
        border-bottom: 0 !important;
    }

    & .collapse-nav {
        background: #00B4B4;
        width: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: 13px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        transition-duration: .3s;
        outline: none;
    }

    & .collapse-nav a{
        color: #ffffff;
        width: 40px;
        padding:12px 15px;
        visibility: visible;
    }



    @media (min-width: $screen-md-min) {
        padding: 0;
    }
}