<div class="left_col" tabindex="5000">
    <div class="navbar nav_title">
        <a ui-sref="home" class="site_title"><img src="images/adec-atms-logo.png" alt="ADEC Tech"></a>
    </div>
    <div class="clearfix"></div>
    <div id="sidebar-menu" sidebar-menu class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li ui-sref-active="active">
                    <a ui-sref="home"><i class="icon icon-atms-icons_home"></i> Home </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="vertical"><i class="icon icon-atms-icons_groups"></i> Verticals </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="project"><i class="icon icon-atms-icons_last-project"></i> Projects </a>
                </li>
                <li ui-sref-active="active">
                    <a href="#"><i class="icon icon-atms-icons_clients"></i> Clients </a>
                </li>
                <li ui-sref-active="active">
                    <a href="#"><i class="icon icon-atms-icons_reports"></i> Reports </a>
                </li>
                <li ui-sref-active="active">
                    <a href="#"><i class="icon icon-atms-icons_settings"></i> Settings <span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="javascript:;">Task sets</a>
                        </li>
                        <li><a href="javascript:;">Tasks</a>
                        </li>
                        <li><a href="javascript:;">Users</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse-nav">
            <a class="toggle-nav-collapse" toggle-navbar-collapse=".main_container" href="#" title="Open/Close"><i
                    class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>